*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', 'sans-serif';
}

body {
 
  background-color: rgb(136, 136, 247);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

h1 {
  font-size: 2.5rem;
}

.quote-container {
display: flex;
flex-direction: column;
gap: 1rem;
height: 150px;
width: 40vw;
padding: 2rem;
border: none;
border-radius: 12px;
outline: none;
background-color: #fff;
font-size: 1.2rem;
}

.quote-container p {
  text-align: right;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(238, 96, 238);
}

@media(max-width : 570px){
  .quote-container {
    width: 90vw;
    gap: 1rem;
    height: 130px;
    padding: 1rem;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
}